body {
  font-family: 'Noto Sans TC', 'Baloo Tamma 2', cursive, sans-serif;
}

.ls-3 {
  letter-spacing: 3px;
}

.logo {
  display: block;
  width: 110px;
  height: 40px;
  background-image: url(../img/logo.jpg);
  overflow: hidden;
  white-space: nowrap;
  text-indent: 101%;
  background-size: cover;
  background-position: center center;
}

.btn-px-32 {
  padding-right: 32px;
  padding-left: 32px;
}

.fs-7 {
  font-size: .875rem;
}

.rounded-32 {
  border-radius: 32px;
}

// .btn-primary:hover {
//   color: #ffe47c;
//   background-color: #858377;
//   border-color: #ffe274;
// }

// .btn-outline-gray:hover>i {
//   color: $danger;
// }

// .btn-outline-gray:hover {
//   color: $danger;

//   i{
//     color: red;
//   }
// }

