body {
  font-family: 'Noto Sans TC', 'Baloo Tamma 2', cursive, sans-serif;
}

.ls-3 {
  letter-spacing: 3px;
}

.ls-2{
  letter-spacing: 2px;
}

.logo {
  display: block;
  width: 110px;
  height: 40px;
  background-image: url(../img/logo.jpg);
  overflow: hidden;
  white-space: nowrap;
  text-indent: 101%;
  background-size: cover;
  background-position: center center;
}

.btn-px-32 {
  padding-right: 32px;
  padding-left: 32px;
}

.fs-7 {
  font-size: .875rem;
}

.rounded-32 {
  border-radius: 32px;
}

.btn-primary:hover {
  background-color: #ff785e;
  border-color: #ff785e;
  color: #fff;
}

.btn-outline-secondary:hover {
  background-color: #ffdf65;
  border-color: #ffdf65;
  color: #636057;
}

// .btn-outline-gray:hover {
//   color: $danger;

//   i{
//     color: red;
//   }
// }

.form-control {
  background-color: #f7f7f7;
  border: none;
}


// for tab
.text-font-color {
  color: #636057!important;
}

#myTab {
  .nav-link{
    letter-spacing: 2px;
  }
}

.nav .active{
  font-weight: 700;
  border-bottom: 2px solid #ffc107;
}
